.out-background {
    border: 1px solid lightgray;
    padding: 5px;
}

.bool-selector {
    max-width: 76px;
}

.image-preview {
    height: 90px;
    transition: 1s;
}

.image-preview:hover {
    height: 160px;
    transition: 1s;
}